.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-align: center;
  color: #a6e5e8;
  height: 7vh;
  box-sizing: border-box;
}
