.background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  animation: fade-in 300ms forwards;
}

@keyframes fade-in {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
